/**TODO
* 
*/

header {
	font-family: "Roboto";
	@apply text-[#333];
}

header .wrapper {
	@apply flex flex-row items-center justify-between py-3 w-[75vw] mx-auto bg-white;
}

header > .wrapper {
	@apply relative z-10;
	box-shadow: 9999px 0px 0px 0px white, -9999px 0px 0px 0px white;
}

header .site-title {
	@apply text-3xl flex flex-row items-center gap-x-2;
}

header .site-title span {
	@apply text-4xl;
}

header .hamburger-menu {
	@apply hidden h-8 w-8 flex-col justify-between p-4;
}

header .line {
	/* scale: 1 2; */
	@apply h-[2px] w-full bg-[#53ce63] transition-all duration-500 ease-in-out rounded-full block;
}

header .hamburger-menu.active .line:nth-child(1) {
	rotate: 45deg;
	@apply top-1/2;
}

header .hamburger-menu.active .line:nth-child(2) {
	@apply opacity-0 w-0;
}

header .hamburger-menu.active .line:nth-child(3) {
	rotate: -45deg;
	@apply top-1/2;
}

header .link-list {
	@apply bg-[#f5f6f9] capitalize;
}

header .link-list .wrapper {
	@apply p-0 transition-all duration-500 ease-in-out bg-[#f5f6f9];
}

header .link-list.active .wrapper {
	@apply mt-0;
}

header .link-list .wrapper > div {
	@apply flex flex-row items-center;
}

header .link-list a {
	@apply inline-block p-3 capitalize;
}

header .link-list a:hover {
	@apply bg-[#333] text-[#f5f6f9];
}

header .link-list a.for-home {
	@apply text-[#53ce63] font-bold;
}

header .link-list a.for-home:hover {
	@apply text-[#f5f6f9] bg-[#53ce63];
}

header .link-list a.for-industry {
	@apply font-bold;
}
header div.border-bottom {
	@apply border-b border-stone-300;
}

@media not all and (min-width: 1280px) {
	header .hamburger-menu {
		@apply flex;
	}

	header .link-list .wrapper > div {
		@apply flex-col w-full;
	}

	header .link-list a {
		@apply w-full;
	}

	header .link-list .wrapper {
		@apply -mt-[390px] flex-col;
	}
}

@media not all and (min-width: 768px) {
	header .wrapper {
		@apply w-screen px-3;
	}
}
