/**TODO
* 
*/

header {
	font-family: "Roboto";
	@apply text-[#333];
}

header .wrapper {
	@apply flex flex-row items-center justify-between py-3 px-[12.5vw] w-full bg-white;
}

header > .wrapper {
	@apply relative z-10;
}

header .site-title {
	@apply text-3xl flex flex-row items-center gap-x-2;
}

header .site-title span {
	@apply text-4xl;
}

header .hamburger-menu {
	@apply hidden w-8 h-8 relative;
}

header .line {
	rotate: 0deg;
	@apply h-[2px] w-full bg-[#53ce63] transition-all duration-500 ease-in-out absolute;
}

header .hamburger-menu .line:nth-child(1) {
	@apply top-0;
}
header .hamburger-menu .line:nth-child(2) {
	@apply top-1/2;
}
header .hamburger-menu .line:nth-child(3) {
	@apply top-full;
}
header .hamburger-menu.active .line:nth-child(1) {
	rotate: 45deg;
	@apply top-1/2;
}

header .hamburger-menu.active .line:nth-child(2) {
	@apply opacity-0 w-0  top-1/2;
}

header .hamburger-menu.active .line:nth-child(3) {
	rotate: -45deg;
	@apply top-1/2;
}

header .link-list {
	@apply bg-[#f5f6f9] capitalize flex flex-row justify-between px-[12.5vw];
}

header .link-list.active {
	@apply bg-[#f5f6f9] capitalize flex;
}

header .link-list > div {
	@apply flex flex-row items-center;
}

header .link-list a {
	@apply inline-block p-3 capitalize transition-[margin-top] duration-500 ease-in-out bg-[#f5f6f9];
}

header .link-list.active a {
	@apply mt-0;
}

header .link-list a:hover {
	@apply bg-[#333] text-[#f5f6f9];
}

header .link-list a.for-home {
	@apply text-[#53ce63] font-bold;
}

header .link-list a.for-home:hover {
	@apply text-[#f5f6f9] bg-[#53ce63];
}

header .link-list a.for-industry {
	@apply font-bold;
}
header div.border-bottom {
	@apply border-b border-stone-300;
}

@media not all and (min-width: 1280px) {
	header .hamburger-menu {
		@apply inline-block;
	}

	header .link-list {
		@apply flex-col;
	}

	header .link-list > div {
		@apply flex-col w-full;
	}

	header .link-list a {
		@apply w-full -mt-32;
	}
}

@media not all and (min-width: 768px) {
	header .link-list {
		@apply px-0;
	}
	header .wrapper {
		@apply w-screen px-3;
	}

	header .link-list a {
		@apply px-6;
	}
}
