header {
  font-family: "Roboto";
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(214 211 209 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

header .wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

header .site-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

header .site-title span {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

header .hamburger-menu {
  display: none;
  width: 2rem;
  flex-direction: column;
  row-gap: 0.75rem;
}

@media not all and (min-width: 1280px) {
  header .hamburger-menu {
    display: flex;
  }
}

header .line {
  scale: 1 2;
  height: 1px;
  width: 100%;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(120 113 108 / var(--tw-bg-opacity));
}

header .link-list {
  --tw-bg-opacity: 1;
  background-color: rgb(245 246 249 / var(--tw-bg-opacity));
  text-transform: capitalize;
  /* @apply max-xl:hidden; */
}

header .link-list > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .link-list a {
  margin-left: -0.25rem;
  padding: 0.5rem;
}

header .link-list a:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(245 246 249 / var(--tw-text-opacity));
}

header a.for-home {
  --tw-text-opacity: 1;
  color: rgb(83 206 99 / var(--tw-text-opacity));
}

header a.for-home:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(83 206 99 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(245 246 249 / var(--tw-text-opacity));
}

header a.for-industry {
  font-weight: 700;
}
